<header class="header">
   <div class="container">
     <div class="header__wrapper">
       <div class="header__inner">
         <a class="header__logo-link">
           <img src="../assets/images/logo.svg" alt="logo" class="header__logo-img">
         </a>
         <nav class="header__nav">
           <ul class="header__list">
             <li class="header__item">
               <a href="#" class="header__link">Главная</a>
             </li>
             <li class="header__item">
               <a href="#" class="header__link">Продукты
                 <img src="../assets/images/chevron-down.svg" alt="chd">
               </a>
             </li>
             <li class="header__item">
               <a href="#" class="header__link">Данные
                 <img src="../assets/images/chevron-down.svg" alt="chd">
               </a>
             </li>
             <li class="header__item">
               <a href="#" class="header__link">Цены</a>
             </li>
           </ul>
         </nav>
       </div>
       <div class="header__buttons">
         <a href="#" class="header__buttons-login">Логин</a>
         <a href="#form" class="header__buttons-registration">Регистрация</a>
       </div>
     </div>
   </div>
 </header>