<footer class="footer">
   <div class="container">
     <div class="footer__main">
       <div class="footer__main-column">
         <h3 class="footer__main-column-title">Возможности</h3>
         <ul class="footer__main-column-list">
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Обзор продукта</a></li>
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Возможности</a></li>
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Отличия от
               программ</a><span>New</span></li>
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Параметры</a></li>
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Информация об обновлениях</a>
           </li>
         </ul>
       </div>
       <div class="footer__main-column">
         <h3 class="footer__main-column-title">Помощь</h3>
         <ul class="footer__main-column-list">
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Быстрый старт</a></li>
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Справка</a></li>
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Обучающие материалы</a></li>
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Платные курсы</a></li>
         </ul>
       </div>
       <div class="footer__main-column">
         <h3 class="footer__main-column-title">Тарифы</h3>
         <ul class="footer__main-column-list">
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Тарифы</a></li>
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Описания</a></li>
         </ul>
       </div>
       <div class="footer__main-column">
         <h3 class="footer__main-column-title">Правовая информация</h3>
         <ul class="footer__main-column-list">
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Условия работы</a></li>
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Приватность</a></li>
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Cookies</a></li>
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Лицензирование</a></li>
           <li class="footer__main-column-item"><a href="" class="footer__main-column-link">Обратная связь</a></li>
         </ul>
       </div>
     </div>
     <div class="footer__down">
       <img src="../assets/images/logo.svg" alt="logo" class="footer__down-logo">
       <p class="footer__down-text">© 2023 Все права защищены. Сметный офис</p>
     </div>
   </div>
 </footer>