<section class="feedback">
   <div class="container">
     <img src="../assets/images/sisyphus-logo.svg" alt="sisyphys-logo" class="feedback__logo">
     <h2 class="feedback__title">Когда пришлось делать сразу 10 смет, я не думала что успею, но Сметный офис мне помог в этом</h2>
     <img src="../assets/images/avatar.png" alt="author-foto" class="feedback__image">
     <h3 class="feedback__person">Симона Ли</h3>
     <p class="feedback__text">Главный инженер Global Trust Investment</p>
   </div>
 </section>
