<div class="prices__card prices__card_1">
   <div class="prices__card-header">
      <div class="prices__card-title-wrapper">
         <p class="prices__card-title">{{ textTariff }}</p>
         <span class="prices__card-title-span">{{ textBestseller }}</span>
      </div>
      <h4 class="prices__card-price">{{ textPrice }} ₽</h4>
      <span class="prices__card-price-span">{{ textDays }}</span>
      <p class="prices__card-info">Программа с ТСН МГЭ на {{ textDays }}</p>
      <!-- <ui-button [text]="'Приобрести тариф'" [backgroundColor]="'#1719DD'" class="prices__card-button prices__card-button_1"></ui-button> -->
      <button class="prices__card-button prices__card-button_1">Приобрести тариф</button>
      <button class="prices__card-button prices__card-button_2">Подробнее</button>
   </div>
   <div class="prices__card-footer">
      <p class="prices__card-footer-title">Возможности</p>
      <ul class="prices__card-footer-list">
         <li class="prices__card-footer-item">База ТСН МГЭ <span>(56 дополнение)</span></li>
         <li class="prices__card-footer-item">Индексы ТСН МГЭ <span>(2019 год)</span></li>
         <li class="prices__card-footer-item">Индексы ТСН МГЭ, Глава 13 <span>(2017 год)</span></li>
      </ul>
   </div>
</div>