<header class="header">
  <div class="header__wrapper container">
    <div class="header__inner">
      <img src="./images/logo.png" alt="logo" class="header__logo">
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="#" class="header__link">Главная</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Продукты</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Данные</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Цены</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__buttons">
      <a href="#" class="header__buttons-login">Логин</a>
      <a href="#" class="header__buttons-registration">Регистрация</a>
    </div>
  </div>
</header>
<main class="main">
  <section class="innovation">
    <div class="container">
      <p class="innovation__info">Простой способ заработать на сметах</p>
      <h1 class="innovation__title">Инновационное составления смет</h1>
      <p class="innovation__subtitle">Работайте меньше, получайте больше</p>
      <div class="innovation__buttons">
        <button class="innovation__buttons-video">Демонстрация работы</button>
        <button class="innovation__buttons-registration">Регистрация</button>
      </div>
    </div>
  </section>
  <section class="prices container">
    <h3 class="prices__subtitle">Тарифы</h3>
    <h2 class="prices__title">Тарифы помогут сэкономить</h2>
    <p class="prices__info">У нас возможности есть для каждого</p>
    <div class="prices__cards">
      <div class="prices__card prices__card_1">
        <div class="prices__card-header">
          <div class="prices__card-title-wrapper">
            <p class="prices__card-title">Базовый тариф</p>
            <span class="prices__card-title-span">Бестселлер</span>
          </div>
          <h4 class="prices__card-price">1 100 ₽</h4>
          <span class="prices__card-price-span">1 день</span>
          <p class="prices__card-info">Программа с ТСН МГЭ на 1 день</p>
          <button class="prices__card-button prices__card-button_1">Приобрести тариф</button>
          <button class="prices__card-button prices__card-button_2">Подробнее</button>
        </div>
        <div class="prices__card-footer">
          <p class="prices__card-footer-title">Возможности</p>
          <ul class="prices__card-footer-list">
            <li class="prices__card-footer-item">База ТСН МГЭ <span>(56 дополнение)</span></li>
            <li class="prices__card-footer-item">Индексы ТСН МГЭ <span>(2019 год)</span></li>
            <li class="prices__card-footer-item">Индексы ТСН МГЭ, Глава 13 <span>(2017 год)</span></li>
          </ul>
        </div>
      </div>
      <div class="prices__card prices__card_2">
        <div class="prices__card-header">
          <div class="prices__card-title-wrapper">
            <p class="prices__card-title">Бизнес тариф</p>
          </div>
          <h4 class="prices__card-price">3 300 ₽</h4>
          <span class="prices__card-price-span">30 дней</span>
          <p class="prices__card-info">Программа с ТСН МГЭ на 30 дней</p>
          <button class="prices__card-button prices__card-button_1">Приобрести тариф</button>
          <button class="prices__card-button prices__card-button_2">Подробнее</button>
        </div>
        <div class="prices__card-footer">
          <p class="prices__card-footer-title">Возможности</p>
          <ul class="prices__card-footer-list">
            <li class="prices__card-footer-item">База ТСН МГЭ <span>(56 дополнение)</span></li>
            <li class="prices__card-footer-item">Индексы ТСН МГЭ <span>(2019 год)</span></li>
            <li class="prices__card-footer-item">Индексы ТСН МГЭ, Глава 13 <span>(2017 год)</span></li>
          </ul>
        </div>
      </div>
      <div class="prices__card prices__card_3">
        <div class="prices__card-header">
          <div class="prices__card-title-wrapper">
            <p class="prices__card-title">Энтерпрайз тариф</p>
          </div>
          <h4 class="prices__card-price">9 900 ₽</h4>
          <span class="prices__card-price-span">90 дней</span>
          <p class="prices__card-info">Программа с ТСН МГЭ на 90 дней</p>
          <button class="prices__card-button prices__card-button_1">Приобрести тариф</button>
          <button class="prices__card-button prices__card-button_2">Подробнее</button>
        </div>
        <div class="prices__card-footer">
          <p class="prices__card-footer-title">Возможности</p>
          <ul class="prices__card-footer-list">
            <li class="prices__card-footer-item">База ТСН МГЭ <span>(56 дополнение)</span></li>
            <li class="prices__card-footer-item">Индексы ТСН МГЭ <span>(2019 год)</span></li>
            <li class="prices__card-footer-item">Индексы ТСН МГЭ, Глава 13 <span>(2017 год)</span></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="try">
    <div class="container">
      <div class="try__wrapper">
        <div class="try__info">
          <h2 class="try__info-title">Попробуйте Сметный офис</h2>
          <p class="try__info-subtitle">Присоединяйтесь к сообществу сметчиков, нас уже более 5000+ человек</p>
          <button class="try__info-button try__info-button_1">Подробнее</button>
          <button class="try__info-button try__info-button_2">Начать использовать Сметный офис</button>
        </div>
        <div class="try__image"> 
          <img src="#" alt="smile-image" class="try__image-img">
        </div>
      </div>
    </div>
  </section>
  <section class="feedback container">
    <img src="#" alt="sisyphys-logo" class="feedback__logo">
    <h2 class="feedback__title">Когда пришлось делать сразу 10 смет, я не думала что успею, но Сметный офис мне помог в этом</h2>
    <img src="#" alt="author-foto" class="feedback__image">
    <h3 class="feedback__person">Симона Ли</h3>
    <p class="feedback__text">Главный инженер Global Trust Investment</p>
  </section>
  <section class="registration">
    <div class="container">
      <h2 class="registration__title">Быстрая регистрация в Сметном офисе</h2>
      <p class="registration__text">Начните работу прямо сейчас</p>
      <form id="form" action="#" class="registration__form">
        <input type="text" class="registration__form-input registration__form-input-name" placeholder="Ваше имя">
        <input type="mail" class="registration__form-input registration__form-mail" placeholder="Почта">
        <p class="registration__form-input-text">Нажимая кнопку “Отправить” вы соглашаетесь на обработку персональных данных</p>
        <button class="registration__form-button">Зарегистрироваться</button>
      </form>
    </div>
  </section>
</main>