<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__inner">
        <img src="./images/logo.png" alt="logo" class="header__logo">
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item">
              <a href="#" class="header__link">Главная</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Продукты</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Данные</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Цены</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__buttons">
        <a href="#" class="header__buttons-login">Логин</a>
        <a href="#" class="header__buttons-registration">Регистрация</a>
      </div>
    </div>
  </div>
</header>
<main class="main">
  <section class="innovation">
    <div class="container">
      <p class="innovation__info">Простой способ заработать на сметах</p>
      <h1 class="innovation__title">Инновационное составления смет</h1>
      <p class="innovation__subtitle">Работайте меньше, получайте больше</p>
      <div class="innovation__buttons">
        <button class="innovation__buttons-video">Демонстрация работы</button>
        <button class="innovation__buttons-registration">Регистрация</button>
      </div>
    </div>
  </section>
</main>