<section class="innovation">
   <div class="container">
     <p class="innovation__info">Простой способ заработать на сметах</p>
     <h1 class="innovation__title">Инновационное составление смет</h1>
     <p class="innovation__subtitle">Работайте меньше, получайте больше</p>
     <div class="innovation__buttons">
       <a class="innovation__buttons-video"><img src="../assets/images/play-circle.svg" alt="icon-play"
           class="innovation__buttons-video-image">
         Демонстрация работы</a>
       <a href="#form" class="innovation__buttons-registration">Регистрация</a>
     </div>
     <img src="../assets/images/ball.png" alt="header-ball" class="innovation__image-ball">
   </div>
 </section>