<section class="try">
   <div class="container">
     <div class="try__wrapper">
       <div class="try__info">
         <h2 class="try__info-title">Попробуйте Сметный офис</h2>
         <p class="try__info-subtitle">Присоединяйтесь к сообществу сметчиков, нас уже более 5000+ человек</p>
         <div class="try__info-buttons">
           <button class="try__info-button try__info-button_1">Подробнее</button>
           <button class="try__info-button try__info-button_2">Начать использовать Сметный офис</button>
         </div>
         <img src="../assets/images/ball-center.png" alt="ball-center" class="try__info-ball">
       </div>
       <img src="../assets/images/image-center.png" alt="smile-image" class="try__image">
     </div>
   </div>
 </section>