<section class="prices container">
   <h3 class="prices__subtitle">Тарифы</h3>
   <h2 class="prices__title">Тарифы помогут сэкономить</h2>
   <p class="prices__info">У нас возможности есть для каждого</p>
   <div class="prices__cards">
     <!-- <ui-button [text]="'Приобрести тариф'" [backgroundColor]="'#1719DD'" class="prices__card-button prices__card-button_1"></ui-button> -->
     <ui-card [textTariff]="'Базовый тариф'" [textBestseller]="'Бестселлер'" [textPrice]=1100 [textDays]="'1 день'"></ui-card>
     <ui-card [textTariff]="'Бизнес тариф'" [textPrice]=3300 [textDays]="'30 дней'"></ui-card>
     <ui-card [textTariff]="'Энтерпрайз тариф'" [textPrice]=9900 [textDays]="'90 дней'"></ui-card>
   </div>
 </section>