.registration {
   text-align: center;
   background: #5654DB;
   padding: 96px 0;
   position: relative;
   overflow: hidden;
   &__title {
      font-size: 36px;
      line-height: 44px;
      font-weight: 600;
   }
   &__text {
      font-size: 20px;
      line-height: 30px;
      color: #E9D7FE;
      padding: 20px 0 32px;
   }
   &__img {
      position: absolute;
      left: 0px;
      top: -110px;
      mix-blend-mode: screen;
      opacity: 0.59;
   }
}
@media (max-width: 480px) {
   .registration {
      padding: 60px 0;
      &__form {
         width: 100%;
      }
   }
}